<meta property="og:title" content="{{ .Title }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ site.Title }}">
{{- $img := "" }}
{{- with .Params.cover }}{{ with $.Resources.Get . }}{{ $img = . }}{{ end }}{{ end }}
{{- if not $img }}{{ with .Resources.ByType "image" }}{{ $img = index . 0 }}{{ end }}{{ end }}
{{- with $img }}{{ if ne .MediaType.SubType "svg" }}
<meta property="og:image" content="{{ (.Fill "1200x630 Center").Permalink }}">
{{- end }}{{ end }}
